*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.App{
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed ;
} 

.container{
    background-color: rgba(53, 129, 195, 0.415);
    display: flex;
    flex-direction: column;
    padding: 3rem;
    align-items: center;
    justify-content: space-between;
    height: 90%;
    --mask:
    radial-gradient(67.08px at 50% 90.00px,#000 99%,#0000 101%) calc(50% - 60px) 0/120px 51% repeat-x,
    radial-gradient(67.08px at 50% -60px,#0000 99%,#000 101%) 50% 30px/120px calc(51% - 30px) repeat-x,
    radial-gradient(67.08px at 50% calc(100% - 90.00px),#000 99%,#0000 101%) calc(50% - 60px) 100%/120px 51% repeat-x,
    radial-gradient(67.08px at 50% calc(100% + 60.00px),#0000 99%,#000 101%) 50% calc(100% - 30px)/120px calc(51% - 30px) repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
}

.container h1{
    color: white;
    font-style: italic;
    padding-top: 2rem;
    font-size: 45px;
    -webkit-text-stroke: .3px rgba(130, 130, 130, 0.859);
}

.container-phrase{
    background-color: rgb(245, 245, 245);
    height: 350px;
    display: flex;
    padding: 1rem;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8rem;
    --mask:
    radial-gradient(67.08px at 50% 90.00px,#000 99%,#0000 101%) calc(50% - 60px) 0/120px 51% repeat-x,
    radial-gradient(67.08px at 50% -60px,#0000 99%,#000 101%) 50% 30px/120px calc(51% - 30px) repeat-x,
    radial-gradient(67.08px at 50% calc(100% - 90.00px),#000 99%,#0000 101%) calc(50% - 60px) 100%/120px 51% repeat-x,
    radial-gradient(67.08px at 50% calc(100% + 60.00px),#0000 99%,#000 101%) 50% calc(100% - 30px)/120px calc(51% - 30px) repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);

}

.container-btn button{
    background-color: rgba(255, 255, 255, 0.395);
    color: rgb(32, 32, 32);
    font-size: large;
    font-weight: bold;
    padding: 1rem;
    border: 1px solid white;
    border-radius: 1rem;
    transition: background-color .3s;
}

.container-btn button:hover{
    background-color: rgba(255, 255, 255, 0.914);
    color: rgb(66, 83, 195);
}


@media (min-width: 690px) {
    .container{
        height: 80%;
    }

    .container-phrase{
        height: 200px;
    }
}